In [1]:
#Importing Libraries

import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Loading dataset
dataset = load_dataset("lukebarousse/data_jobs")
df = dataset['train'].to_pandas()

#Data cleanup

df["job_posted_date"] = pd.to_datetime(df["job_posted_date"])

c:\Users\HP\anaconda3\envs\project\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
#Calculate projected salaries next year, using an assumed rate of 3.0% for all roles.
def projected_salaries (salary):
    return salary * 1.03

#Use the apply function

df["inflated_salary"] = df["salary_year_avg"].apply(projected_salaries)

#With a lambda function

df["inflated_salary"] = df["salary_year_avg"].apply (lambda salary: salary * 1.03)

#The below code performs two functions filters out the NAn values, returns the value, for the selected columns

df[pd.notna(df["salary_year_avg"])] [["salary_year_avg", "inflated_salary"]]

        salary_year_avg  inflated_salary
28             109500.0        112785.00
77             140000.0        144200.00
92             120000.0        123600.00
100            228222.0        235068.66
109             89000.0         91670.00
...                 ...              ...
785624         139216.0        143392.48
785641         150000.0        154500.00
785648         221875.0        228531.25
785682         157500.0        162225.00
785692         157500.0        162225.00

[22003 rows x 2 columns]